@charset "utf-8";
html { height: 100%; overflow: hidden; }
body { height: 100%; overflow: hidden; }
body {
	font-family: "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "Helvetica Neue", "Helvetica", "游ゴシック体", "YuGothic","メイリオ", "Meiryo", "MS Pゴシック", sans-serif;
	font-size: 14px;
	background-color: #d7d5ae;
}
h1,h2,h3,h4,form { font-weight: normal; }

/* 共通 ---------------------------------------------------------------- */
a {
	display: block;
}
img {
	display: block;
	width: 100%;
}

/******************************
 All Link
******************************/
@media screen and (min-width: 768px) {
body {min-width: 980px;}
a:link,a:visited { color:#000; text-decoration: none; }
img {
	width: 100%;
	vertical-align: middle;
}
a:hover,.btn:hover {
	cursor: pointer;
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
}
.cf:after {	content: ''; display: block; clear: both}
.cf { display: block }

.fl {float: left;}
.fr {float: right;}

.w960 {
	width: 960px;
	margin: 0 auto;
}
.pc_site {display:block;}
.sp_site {display:none;}

/* PC_site */
/* header */
@media screen and (min-width: 768px) {
#home .nav_area li:nth-child(1) a,
#summary .nav_area li:nth-child(2) a,
#member .nav_area li:nth-child(3) a,
#schedule .nav_area li:nth-child(4) a,
#ground .nav_area li:nth-child(5) a,
#contact .nav_area li:nth-child(6) a {
	background: url(../img/header/pc_nav_mark.png) center center no-repeat;
	position: relative;
}
#home .nav_area li:nth-child(1) a:after,
#summary .nav_area li:nth-child(2) a:after,
#member .nav_area li:nth-child(3) a:after,
#schedule .nav_area li:nth-child(4) a:after,
#ground .nav_area li:nth-child(5) a:after,
#contact .nav_area li:nth-child(6) a:after {
	content: '';
	border-bottom: 5px solid #f00;
	width: 100%;
	height: 5px;
	position: absolute;
	left: 0;
	top: 22px;
}
.header_top {
	border-top: 5px solid #00a9d9;
	border-bottom: 5px solid #00a9d9;
}
}
.header_top h1 {
	float: left;
	padding: 5px 0;
}
.header_top h1 a {
	position: relative;
}
.header_top h1 a.pc_site img {
	padding: 6px 0 3px 85px;
}
.header_top h1 a:before {
	content: "";
	position: absolute;
}
.header_top h1 a.pc_site:before {
	background: url(../img/header/pc_logo.png) left 0 no-repeat;
	left: 0;
	top: 0;
	width: 70px;
	height: 70px;
}
.header_top .txt {
	padding: 40px 0 20px 20px;
}
.nav_area {
	background: url(../img/header/pc_h_bg.png) 0 0 repeat-x;
	margin-bottom: 10px;
}
.nav_area li {
	float: left;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	margin: 10px 0;
	position: relative;
}
.nav_area li:nth-child(n+2) {
	background: url(../img/header/pc_nav_separate.png) 0 0 no-repeat;
}
.nav_area li:last-child {
	margin: 10px 0;
}
.nav_area li a {
	color: #00a9d9;
	width: 160px;
}
.nav_area li:nth-child(n+2) a {
	margin-left: 3px;
	width: 157px;
}
.nav_area li a span {
	color: #fff000;
	position: relative;
}
@media screen and (min-width: 768px) {
.nav_area li a:hover {
	background: url(../img/header/pc_nav_mark.png) center center no-repeat;
}
.nav_area li a:hover:after {
	content: '';
	border-bottom: 5px solid #f00;
	width: 100%;
	height: 5px;
	position: absolute;
	left: 3px;
	top: 22px;
}
}

/* .side */
#contents .side {
	width: 280px;
	background-color: #00a9d9;
	padding: 10px 10px 30px;
}
#contents .side h2 {
	margin-bottom: 5px;
}
#contents .side h2.ttl span {
	color: #fff000;
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 5px #000;
}
#contents .side .schedule_bg {
	background-color: #fff000;
	padding: 20px 0;
}
.schedule_area,
.link_area,
.board_area,
.member_area {
	margin-bottom: 20px;
}
#calendar {
	background-color: #fff;
	font-size: 12px;
	margin: 0 25px 20px;
	position: relative;
}
#calendar .calendar {
	padding: 10px 9px;
	width: 210px;
}
#calendar tr .sun {
	color: #f00;
}
#calendar tr .sat {
	color: #00f;
}
#calendar tr .today {
	background-color: rgba(255,240,0,0.8);
}
#calendar tr th {
	border-bottom: 1px solid #000;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	padding-top: 10px;
	width: 27px;
}
#calendar tr th.active-date {
	border: none;
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 10px;
	padding-top: 0;
}
#calendar tbody tr td {
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	font-size: 12px;
	text-align: right;
	height: 20px;
	padding: 0.5em 0.5em 0 0;
}
#calendar tbody tr td:last-child {
	border-right: 1px solid #000;
}
#calendar td.prev a,
#calendar td.next a {
	position: absolute;
	top: 50%;
	width: 16px;
	height: 16px;
}
#calendar td.prev a {
	background: url(../img/sidebar/pc_prev02.png) 0 0 no-repeat;
	left: -20px;
}
#calendar td.next a {
	background: url(../img/sidebar/pc_next02.png) 0 0 no-repeat;
	right: -20px;
}
.schedule_area .member_btn {
	margin: 0 25px; 
}
.schedule_area .member_btn a {
	background-color: #00a9d9;
	border-radius: 10px;
	padding: 10px 50px;
}
.schedule_area .member_btn a:before {
	content: '';
	background: url(../img/sidebar/pc_keymark01.png) left center no-repeat;
	display: inline-block;
	width: 16px;
	height: 22px;
	padding-right: 10px;
	background-size:contain;
	vertical-align:middle;
}
.schedule_area .member_btn a img {
	display: inline-block;
	width: 73px;
}
.link_area ul li {
	margin-bottom: 10px;
}
.comment_area {
	background-color: #fff;
	padding: 20px;
}
.comment_area h3.ttl {
	border-bottom: 2px solid #000;
	margin-bottom: 20px;
}
.comment_area .comment {
	margin-bottom: 15px;
}
.comment_area .comment .name {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
	padding-left: 10px;
}
.comment_area .comment .txt {
	background-color: #fff000;
	border: 2px solid #000;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 5px;
	position: relative;
}
.comment_area .comment .txt:after {
	content: '';
	background: url(../img/sidebar/pc_speech_bg01.png) left center no-repeat;
	background-size: contain;
	display: block;
	width: 20px;
	height: 12px;
	position: absolute;
	left: 17px;
	top: -12px;
}
.comment_area .comment .time_area {
	text-align: right;
}
.comment_area .continue a {
	color: #f00;
	text-align: right;
}
.comment_area .continue a:hover {
	color: #00f;
	opacity: 1.0;
	text-decoration: underline;
}
.member_area .member.btn a {
	background-color: #000;
	padding: 10px 14px;
}
.member_area .member.btn a:before {
	content: '';
	background: url(../img/sidebar/pc_keymark02.png) left center no-repeat;
	display: inline-block;
	width: 31px;
	height: 40px;
	padding-right: 10px;
	background-size:contain;
	vertical-align:middle;
}
.member_area .member.btn a img {
	display: inline-block;
	width: 191px;
}

/* footer */
.footer_top {
	background-color: #fff000;
	padding: 20px 0;
}
.footer_top dl {
	float: left;
	margin: 0 40px;
}
.footer_top dt {
	font-size: 16px;
	margin-bottom: 5px;
}
.footer_top dd {
	margin-left: 10px;
	line-height: 1.8;
}
.footer_top dd a:hover {
	color: #f00;
	opacity: 1.0;
	text-decoration: underline;
}
.copyright {
	font-size: 12px;
	text-align: center;
	padding: 30px 0 10px;
}

/* トップページマーク
-----------------------------------------------------------------*/
#page-top {
	position: fixed;
	right: 20px;
	margin-bottom: 75px;
	z-index: 9999;
}
#page-top a {
	display: block;
	background: url(../img/pc_page_top.png) no-repeat;
	width: 80px;
	height: 104px;
}

/* SP_site ----------------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {

/* SP_site 共通 ---------------------------------------------------------------- */

body {width: 100%;}
.pc_site {display:none;}
.sp_site {display:block;}

.w960 {
	width: 100%;
	margin: 0 auto;
}

/* SP_site header */
.header_top .w960 {
	margin: 0px 2%;
	width: 96%;
}
.header_top h1 {
	padding: 0;
}
.header_top h1 a {
	padding: 0 0 21px 65px;
}
.header_top h1 a.sp_site img {
	width: 193px;
}
.header_top h1 a.sp_site:before {
	content: "";
	background: url(../img/header/sp_logo.png) left 5px no-repeat;
	background-size: contain;
	display: block;
	width: 60px;
	height: 66px;
	left: 0;
}
.header_top .txt {
	position: absolute;
	left: 100px;
	bottom: 7px;
	margin-left: 12%;
	padding: 0;
	width: 110px;
}
.nav_area {
	background: none;
	margin-bottom: 0;
}

/* #nav-toggle 切り替えアニメーション */
#top-head .inner {
	position: relative;
	
}
#global-nav .w960 {
	width: 100%;
}
#global-nav ul {
	list-style: none;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 14px;
}
#global-nav ul li {
	text-align: left;
	margin: 0;
}
#global-nav ul li a {
	position: relative;
}
#global-nav ul li a:before {
	position: absolute;
	content: "";
	display: inline-block;
	left: 3%;
	width: 32px;
	height: 25px;
}
#global-nav ul li a[href="profile.html"]:before {
	background: url(../img/header/sp_h_icon01.png) 0 0 no-repeat;
	background-size: contain;
}
#global-nav ul li a[href="member.html"]:before {
	background: url(../img/header/sp_h_icon02.png) 0 0 no-repeat;
	background-size: contain;
}
#global-nav ul li a[href="schedule.html"]:before {
	background: url(../img/header/sp_h_icon03.png) 0 0 no-repeat;
	background-size: contain;
}
#global-nav ul li a[href="ground.html"]:before {
	background: url(../img/header/sp_h_icon05.png) 0 0 no-repeat;
	background-size: contain;
}
#global-nav ul li a[href="contact.html"]:before {
	background: url(../img/header/sp_h_icon06.png) 0 0 no-repeat;
	background-size: contain;
}
#global-nav ul li a[href="preparation.html"]:before {
	background: url(../img/header/sp_h_icon07.png) 0 0 no-repeat;
	background-size: contain;
}

/* Fixed */
#top-head.fixed {
	margin-top: 0;
	top: 0;
	position: fixed;
	padding-top: 10px;
	height: 50px;
	background: #fff;
	background: rgba(255,255,255,.7);
	transition: top 0.65s ease-in;
	-webkit-transition: top 0.65s ease-in;
	-moz-transition: top 0.65s ease-in;
}
#top-head.fixed #global-nav ul li a {
	color: #333;
	padding: 0 20px;
}

/* Toggle Button */
#nav-toggle {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 101;
	background-color: #bbe1e8;
	margin: 20px 2%;
	border: 1px solid #000;
}
#nav-toggle div {
	position: relative;
	top: 8px;
	left: 5px;
	width: 28px;
}
#nav-toggle span {
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
	background: #000;
	left: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
	top: 0;
}
#nav-toggle span:nth-child(2) {
	top: 10px;
}
#nav-toggle span:nth-child(3) {
	top: 20px;
}
#top-head,
.inner {
	width: 100%;
	padding: 0;
}
#top-head {
	top: 0;
	position: fixed;
	margin-top: 0;
	z-index: 999;
}
/* Fixed reset */
#top-head.fixed {
	padding-top: 0;
	background: transparent;
}
#mobile-head {
	background: url(../img/header/pc_h_bg.png) center top repeat-x;
	width: 100%;
	height: 80px;
	z-index: 99999;
	position: relative;
	overflow: hidden;
}
#global-nav {
	position: absolute;
	/* 開いてないときは画面外に配置 */
	top: -477px;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	text-align: left;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
#global-nav ul {
	list-style: none;
	position: static;
	right: 0;
	bottom: 0;
	font-size: 18px;
	font-weight: normal;
}
#global-nav ul li {
	color: #fff000;
	background: url(../img/header/sp_h_arrow.png) no-repeat;
	background-position: 95% 50%;
	background-size: 12px 22px;
	border-top: 1px solid #fff;
	float: none;
	font-weight: normal;
	position: static;
}
#global-nav ul li:last-child {
	background: none;
	width: 100%;
	display: block;
	background-color: rgba(255,255,255,0.7);
	padding: 15px 0;
}
#global-nav ul li:last-child span {
	background-color: rgba(0,169,217,0.7);
	border-radius: 10px;
	box-shadow: 0 2px 2px 0px #000;
	width: 100px;
	display: block;
	color: #fff000;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
}
#global-nav ul li:last-child span:hover {
	cursor: pointer;
}
#global-nav ul li:last-child span:active {
	box-shadow: none;
	margin: 2px auto -2px;
}
#top-head #global-nav ul li a {
	text-decoration: none;
	margin-left: 0;
	padding: 10px 0 10px 15%;
	width: 100%;
	display: block;
	color: #fff000;
}
#nav-toggle {
	display: block;
}

/* #global-nav スライドアニメーション */
.open #global-nav {
	-moz-transform: translateY(556px);
	-webkit-transform: translateY(556px);
	transform: translateY(556px);
}

/* #nav-toggle 切り替えアニメーション */
.open #nav-toggle span:nth-child(1) {
	top: 10px;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	transform: rotate(315deg);
}
.open #nav-toggle span:nth-child(2) {
	width: 0;
	left: 50%;
}
.open #nav-toggle span:nth-child(3) {
	top: 10px;
	-webkit-transform: rotate(-315deg);
	-moz-transform: rotate(-315deg);
	transform: rotate(-315deg);
}

/* SP_site .side */
#contents .side {
	float: none;
	margin: 0 auto;
	width: 100%;
	padding: 10px 2% 30px;
}
#contents .side h2.ttl span {
	font-size: 16px;
	margin-left: 2%;
}
#calendar {
	font-size: 12px;
	margin: 0 5% 20px;
	width: 90%;
}
#calendar .calendar {
	margin: 0 auto;
	padding: 10px 5%;
	width: 100%;
}
.schedule_area .member_btn {
	margin: 0 auto;
	width: 200px;
}
.schedule_area .member_btn a {
	padding: 10px 37.5px ;
	margin: -2px 0 2px;
	box-shadow: 0 2px 2px 0 #000;
}
.schedule_area .member_btn a:active {
	margin: 2px 0 0;
	box-shadow: none;
}
.schedule_area .member_btn a img {
	display: inline-block;
	width: 125px;
}
.schedule_area .member_btn a:before {
	content: '';
	background: none;
	display: none;
	width: 0;
	height: 0;
	padding-right: 0;
}
#calendar tr th.active-date {
line-height: 30px;
}
#calendar td[colspan="2"] a {
	text-decoration: none;
}
#calendar td.prev a,
#calendar td.next a {
	top: 4px;
	width: 61px;
	height: 42px;
}
#calendar td.prev a:after,
#calendar td.next a:after {
	color: #000;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 62px;
}
#calendar td.prev a {
	background: url(../img/sidebar/sp_prev02.png) 0 0 no-repeat;
	background-size: 100% 100%;
	left: 2px;
}
#calendar td.prev a:after {
	content: "前の月";
}
#calendar td.prev a:active {
	background: url(../img/sidebar/sp_prev02_on.png) 0 0 no-repeat;
	background-size: 100% 100%;
	top: 6px;
}
#calendar td.next a {
	background: url(../img/sidebar/sp_next02.png) 0 0 no-repeat;
	background-size: 100% 100%;
	right: 2px;
}
#calendar td.next a:after {
	content: "次の月";
}
#calendar td.next a:active {
	background: url(../img/sidebar/sp_next02_on.png) 0 0 no-repeat;
	background-size: 100% 100%;
	top: 6px;
}
.link_area ul {
	background-color: #fff000;
	padding: 20px 3%;
}
@media screen and (min-width: 640px) {
	.link_area ul li {
		float: left;
		width: 50%;
	}
	.link_area ul li:nth-child(even) {
		float: right;
	}
}
.link_area ul li a {
	box-shadow: 0 2px 2px 0px #000;
	margin: -2px auto 12px;
	width: 260px;
}
.link_area ul li a:active {
	box-shadow: none;
	margin: 0 auto 10px;
}
.comment_area {
	padding: 20px 5%;
}
.comment_area .comment .name {
	font-size: 14px;
	padding-left: 3%;
}
.comment_area h3.ttl {
	margin-bottom: 10px;
}
.comment_area .comment {
	margin-bottom: 10px;
}
.comment_area .comment .txt {
	border: 1px solid #000;
	padding: 10px 3%;
}
.comment_area .comment .txt:after {
	content: '';
	background: url(../img/sidebar/sp_speech_bg01.png) left center no-repeat;
	background-size: contain;
	width: 23px;
	height: 13px;
	left: 5%;
	top: -13px;
}
.comment_area .continue a {
	background-color: #00a9d9;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0px #000;
	float: right;
	margin: -2px 0 2px;
	padding: 10px 3%;
	width: 125px;
}
.comment_area .continue a:active {
	box-shadow: none;
	margin: 0;
}
.comment_area .continue a img {
	margin: 0 auto;
	width: 86px;
}
.member_area .member.btn {
	background-color: #fff000;
	padding: 20px 0;
}
.member_area .member.btn a {
	background-color: #00a9d9;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0px #000;
	padding: 10px 0;
	margin: -2px auto 2px;
	width: 250px;
}
.member_area .member.btn a:active {
	box-shadow: none;
	margin: 0 auto;
}
.member_area .member.btn a:before {
	content: '';
	background: none;
	display: none;
}
.member_area .member.btn a img {
	display: block;
	width: 229px;
	margin: 0 auto;
}

/* SP_site footer */
.copyright {
	font-size: 10px;
}
#page-top {
	right: 2%;
	margin-bottom: 35px;
}
#page-top a {
	background: url(../img/sp_page_top.png) no-repeat;
	background-size: contain;
	width: 46px;
	height: 61px;
}

}