@charset "utf-8";
/******************************
 AllTagsFix 
******************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing:border-box;
}
/* Reset the new HTML5 elements */
article,aside,main,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video
{display:block;border:none;margin:0;padding:0; box-sizing:border-box;}
mark,rp,rt,ruby,summary,time{display:inline;border:none;margin:0;padding:0;}

img,a,p,ul,ol,li,dl,dt,dd,hr,form,input,body{border:none;margin:0;padding:0;box-sizing:border-box;}
img{vertical-align: text-bottom;}
a{vertical-align:baseline;}
li{list-style:none;}
form{ display:inline;}
input{vertical-align:middle;color:#979EAC;}
html { font-size: 62.5%;}
body{font-family: arial,helvetica,clean,sans-serif;letter-spacing:0;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif; box-sizing:border-box;}
table{font-size:inherit;font:100%;border-spacing:0;border-collapse:separate;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/* box-sizing指定 */
th,td{ box-sizing:border-box;}

/* iOS safari対策 */
body{-webkit-text-size-adjust: 100%;}
