@charset "utf-8";
/* index.html -------------------------- */
#contents {
	margin-bottom: 60px;
}

/* .main_top */
#home .main_top {
	background: url(../img/main/pc_main_visbg.jpg) 0 0 no-repeat;
}
.main_top {
	margin-bottom: 20px;
}
.bx-wrapper {
	border: none;
	background: none;
	margin: 0 auto;
}
.main_top .bx-wrapper .bx-pager {
	padding-top: 0;
	z-index: 100;
}
.main_top .bx-wrapper .bx-pager.bx-default-pager a {
	background: #ff0;
	width: 14px;
	height: 14px;
	margin: 0 10px;
	border-radius: 7px;
}
.main_top .bx-wrapper .bx-pager.bx-default-pager a:hover,
.main_top .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #0ff;
}
.bx-wrapper .bx-viewport {
	background: none;
	border: none;
	box-shadow: none;
	left: 0;
	z-index: 99;
}
.main_top .bx-wrapper .bx-prev {
	background: url(../img/main/pc_prev02.png) no-repeat 15px -32px;
}
.main_top .bx-wrapper .bx-next {
	background: url(../img/main/pc_next02.png) no-repeat -43px -32px;
}
.main_top .bx-wrapper .bx-controls-direction a,
.main_top .bx-wrapper .bx-controls-direction a:hover {
	background-position: 0 0;
	z-index: 99;
}
.main_top .bx-wrapper .bx-controls-direction a.bx-prev {
	left: 20px;
}
.main_top .bx-wrapper .bx-controls-direction a.bx-next {
	right: 20px;
}
.bx-wrapper .bx-pager {
	bottom: 25px;
	padding-top: 0;
}

/* .main */
section {
	margin-bottom: 25px;
}
#contents .main {
	width: 650px;
}
#contents .main h2.ttl {
	background-color: #00a9d9;
	line-height: 50px;
	margin-bottom: 15px;
}
#contents .main h2.ttl span {
	color: #fff000;
	font-size: 24px;
	font-weight: bold;
	margin-left: 20px;
	letter-spacing: 0.1em;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 10px #000;
}
#tab_box {
	color: #000;
}
#tab_box ul.tab li,
#tab_box dt,
#tab_box dd p.time_area {
	float: left;
}
#tab_box ul.tab li {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: -1px;
	width: 100px;
}
#tab_box ul.tab li.select {
	padding-bottom: 1px;
	z-index: 999;
}
#tab_box ul.tab li:hover {
	cursor: pointer;
}
#tab_box ul.tab li.tab01 {
	background-color: #fff;
}
#tab_box ul.content li.tab_list dt {
	background-color: #ddd;
}
#tab_box ul.tab li.tab02,
#tab_box ul.content li.type02,
#tab_box ul.content li.type01 dt.notice,
#schedule_month .month_area td span.notice {
	background-color: #6ab82d;
}
#tab_box ul.tab li.tab03,
#tab_box ul.content li.type03,
#tab_box ul.content li.type01 dt.game,
#schedule_month .month_area td span.game {
	background-color: #bbffe8;
}
#tab_box ul.tab li.tab04,
#tab_box ul.content li.type04,
#tab_box ul.content li.type01 dt.practice,
#schedule_month .month_area td span.practice {
	background-color: #ff87e8;
}
#tab_box ul.tab li.tab05,
#tab_box ul.content li.type05,
#tab_box ul.content li.type01 dt.event,
#schedule_month .month_area td span.event {
	background-color: #ffc000;
}
#tab_box ul.tab li.tab06,
#tab_box ul.content li.type06,
#tab_box ul.content li.type01 dt.other,
#schedule_month .month_area td span.other {
	background-color: #faed00;
}
#tab_box ul.tab li:last-child {
	margin-right: 0;
}
#tab_box ul.content {
	background-color: #fff;
	border: 1px solid #000;
}
#tab_box ul.content li {
	display: none;
}
#tab_box ul.content li.type01 {
	display: block;
}
#tab_box ul.content dl {
	padding: 10px 30px;
}
#tab_box ul.content dt {
	border: 1px solid #4c4c4c;
	width: 75px;
	line-height: 22px;
	text-align: center;
}
#tab_box ul.tab li.tab03,
#tab_box ul.tab li.tab04,
#tab_box ul.content li.type03 dt,
#tab_box ul.content li.type04 dt,
#tab_box ul.content dt.game,
#tab_box ul.content dt.practice,
#schedule_month .month_area td .game,
#schedule_month .month_area td .practice {
	letter-spacing: 1em;
	padding-left: 1em;
}
#tab_box ul.tab li.tab01,
#tab_box ul.tab li.tab06,
#tab_box ul.content li.type06 dt,
#tab_box ul.content dt.other,
#schedule_month .month_area td .other {
	letter-spacing: 0.3em;
	padding-left: 0.3em;
}
#tab_box ul.content dd {
	margin-bottom: 10px;
	border-bottom: 1px dashed #000;
	line-height: 25px;
	font-size: 16px;
}
#tab_box ul.content dd:last-child {
	margin-bottom: 0;
}
#tab_box ul.content dd p {
	padding-left: 15px;
	display: inline-block;
}
#tab_box ul.content dd span {
	text-align: right;
	width: 38px;
	display: inline-block;
}
#tab_box ul.content dd span.week {
	text-align: left;
}
#tab_box ul.content dd span.start {
	width: 75px;
}
#tab_box ul.content dd span.finish {
	width: 50px;
}
span.month:after {
	content: '月';
}
span.day:after {
	content: '日';
}
span.week:before {
	content: '（';
}
span.week:after {
	content: '）';
}
#tab_box ul.content dd span.start:after {
	content: '~';
	padding: 0 10px;
}
#result .result_area,
#rank .rank_area {
	background-color: #fff;
	margin: 0 10px;
	padding: 20px 30px;
}
h3.ttl {
	font-size: 20px;
	font-weight: bold;
}
h3.ttl span.sub_txt {
	padding-left: 10px;
}
#result .score_box {
	display: table;
	margin: 0 auto;
	padding: 20px 0 45px;
}
#result .score_box p {
	display: table-cell;
	font-size: 24px;
	vertical-align: middle;
}
#result .score_box p.score {
	text-align: center;
	font-size: 48px;
	letter-spacing: 0.5em;
	padding-left: 0.5em;
	font-weight: bold;
}
#result .score_box p.team span {
	display: block;
}
#result .score_box p span.txtl {
	text-align: left;
}
#result .score_box p span.txtc {
	text-align: center;
}
#result .score_box p span.txtr {
	text-align: right;
}
#result .bx-wrapper .bx-controls-direction a {
	top: inherit;
	bottom: 0;;
	margin-top: 0;
	width: auto;
	height: auto;
	text-indent: 0;
	color: #f00;
	background: none;
	z-index: 99;
}
#result .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item {
	display: none;
}
#result .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:first-child {
	display: inline-block;
}
#result .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a {
	background: none;
	display: none;
	position: relative;
	width: 0;
}
#result .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a:after {
	content: '最新へ戻る';
	display: block;
	position: absolute;
	top: -2px;
	left: -50px;
	color: #f00;
	width: 100px;
	text-indent: 0;
	font-size: 14px;
	font-weight: normal;
}
#result .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:first-child a {
	display: block;
	z-index: 99;
}
#result .bx-wrapper .bx-pager {
	bottom: 5px;
}
#result .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a:hover:after,
#result .bx-wrapper .bx-controls-direction a:hover {
	color: #00f;
	opacity: 1.0;
	text-decoration: underline;
}
#result .bx-wrapper .bx-prev:before {
	content: "<< ";
}
#result .bx-wrapper .bx-prev:after {
	content: "へ";
}
#result .bx-wrapper .bx-next:after {
	content: "へ >>";
}
#rank table {
	font-size: 18px;
	margin: 5px 4px;
}
#rank table tr th,
#rank table tr td {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	padding: 10px 25px 5px;
	text-align: center;
}
#rank table tr th:last-child,
#rank table tr td:last-child {
	border-right: 1px solid #000;
}
#rank table tr:last-child td {
	border-bottom: 1px solid #000;
}

/* profile.html -------------------------- */
#summary .main_top {
	background: url(../img/summary/pc_summary_main.png) 0 0 no-repeat;
}
#summary .main_top img {
	width: 430px;
	margin: 0 0 0 20px;
	padding-top: 20px;
}
.main_top.bg_common {
	height: 350px;
}
.main .txt_box {
	background-color: #fff;
	margin: 10px;
	padding: 20px 20px 0;
}
.main .txt_box .txt {
	padding-bottom: 20px;
	line-height: 1.8;
}
#summary .main dl {
	display: table;
	margin: 0 20px;
}
#summary .main dl.ttl_bg dt {
	background: url(../img/summary/pc_summary_bg.png) 0 0 no-repeat;
}
#summary .main dt,
#summary .main dd {
	display: table-cell;
	line-height: 38px;
	padding-left: 20px;
}
#summary .main dt {
	float: left;
	margin-top: 10px;
	width: 200px;
}
#summary .main dd {
	float: right;
	background-color: #fff;
	margin-top: 10px;
	width: 400px;
}
#summary .main dl dt.color01 {
	background-color: #bbffe8;
}
#summary .main dl dt.color02 {
	background-color: #faed00;
}

/* member.html -------------------------- */
#member .main_top {
	background: url(../img/member/pc_member_main.png) 0 0 no-repeat;
}
#member .main_top img {
	width: 500px;
	margin: 0 auto;
	padding-top: 100px;
}
#member .player_area {
	padding: 0 1px;
}
#member .player_area li {
	float: left;
	margin: 0 16px 20px 0;
	width: 150px;
}
#member .player_area li:nth-child(4n) {
	margin-right: 0;
}
#member li .player_photo {
	position: relative;
}
#member li .player_txt {
	background:url(../img/member/pc_member_bg.png) 0 0 no-repeat;
	position: absolute;
	bottom: 0;
	width: 150px;
}
#member li .player_txt .number {
	font-size: 36px;
	font-weight: bold;
	line-height: 1;
	text-align: right;
	padding: 17px 2px 0 0;
}
#member li .player_txt .name {
	font-size: 18px;
	line-height: 27px;
	text-align: center;
}
#member .remodal {
	width: 900px;
	max-width: 900px;
	background-color: #00a9d9;
	padding: 40px;
}
#member .remodal .cf {
	margin-bottom: 30px;
}
#member .remodal .player_photo {
	background-color: #fff000;
	float: left;
	margin: 10px 0 0 10px;
	position: relative;
	width: 300px;
	height: 400px;
}
#member .remodal .player_photo img {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 300px;
}
#member .remodal .player_profile {
	background-color: #fff;
	float: left;
	width: 480px;
	height: 410px;
	margin-left: 30px;
	padding: 40px 20px;
}
#member .remodal .player_profile .player_txt {
	margin-bottom: 20px;
}
#member .remodal .player_profile .number {
	font-size: 72px;
	font-weight: bold;
	float: left;
	width: 100px;
}
#member .remodal .player_profile .name {
	float: right;
	width: 340px;
	font-size: 48px;
	line-height: 1;
}
#member .remodal .player_profile .name span {
	font-size: 24px;
	display: block;
}
#member .remodal .player_profile dl {
	font-size: 24px;
	letter-spacing: 0.1em;
	text-align: left;
	padding: 0 20px;
}
#member .remodal .player_profile dt {
	width: 150px;
	float: left;
}
#member .remodal .player_profile dd {
	margin-left: 150px;
}
#member .remodal .player_profile dd:before {
	content: ':';
	margin-right: 15px;
}
#member .remodal .player_profile dd:after {
	content: '.';
	height: 0;
	line-height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
#member .remodal a.remodal-cancel {
	background-color: #fff000;
	border-radius: 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 50px;
	width: 200px;
}

/* schedule.html -------------------------- */
#schedule .main_top {
	background: url(../img/schedule/pc_schedule_main.png) 0 0 no-repeat;
}
#schedule .main_top img {
	width: 300px;
	margin: 0;
	padding-top: 0;
}
#schedule_month .page_area {
	margin-bottom: 15px;
	padding: 0 10px;
	text-align: center;
}
#schedule_month .page_area a {
	display: inline;
	text-align: center;
	text-decoration: underline;
	color: #00f;
}
#schedule_month .page_area a:hover {
	color: #f00;
}
#schedule_month .page_area a.new_month {
	margin: 0 185px;
}
#schedule_month .month_area {
	background-color: #fff;
	margin: 0 10px 20px;
	padding: 10px;
}
#schedule_month .month_area table {
	width: 100%;
	border: 2px solid #000;
}
span.year:after {
	content: '年';
}
#schedule_month .month_area th,
#schedule_month .month_area td {
	border-bottom: 1px solid #000;
}
#schedule_month .month_area th {
	background-color: #fff000;
	text-align: left;
	padding-left: 20px;
}
#schedule_month .month_area th span {
	font-size: 20px;
	line-height: 40px;
}
#schedule_month .month_area td {
	border-bottom: 1px solid #000;
	line-height: 26px;
	text-align: center;
}
#schedule_month .month_area td p {
	line-height: 1.4;
}
#schedule_month .month_area td p span:nth-child(n+2) {
	padding-left: 20px;
}
#schedule_month .month_area td:first-child {
	text-align: right;
	width: 80px;
}
#schedule_month .month_area td:last-child {
	text-align: left;
	width: 420px;
}
#schedule_month .month_area tr:last-child td {
	border: none;
}
schedule_month .blue,
#schedule_month .month_area.y2016.october tr:nth-child(7n+2) td:first-child,
#schedule_month .month_area.y2016.november tr:nth-child(7n+6) td:first-child {
	color: #00f;
}
#schedule_month .red,
#schedule_month .month_area.y2016.october tr:nth-child(7n+3) td:first-child,
#schedule_month .month_area.y2016.october tr:nth-child(11) td:first-child,
#schedule_month .month_area.y2016.november tr:nth-child(7n) td:first-child {
	color: #f00;
}
#schedule_month .month_area td.type_box span {
	border: 1px solid #4c4c4c;
	text-align: center;
	width: 50px;
}
#schedule_game .game_area {
	padding: 0 10px;
}
#schedule_game .game_area .sub_ttl {
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 10px;
}
#schedule_game .game_area .sub_ttl span {
	background-color: #fff;
	border: 1px solid #000;
	padding: 5px 10px;
}
#schedule_game .game_area table {
	background-color: #fff000;
	border: 1px solid #00a9d9;
	text-align: center;
	padding: 10px;
	width: 100%;
}
#schedule_game .game_area table th,
#schedule_game .game_area table td {
	border-bottom: 1px solid #000;
}
#schedule_game .game_area table th {
	font-size: 16px;
	line-height: 2.0;
}
#schedule_game .game_area table td.rival span:before {
	content: 'vs';
	padding-right:10px;
}
#schedule_game .game_area table td {
	line-height: 24px;
	padding-top: 10px;
}
#schedule_game .game_area table td.result span {
	margin-right: 20px;
	position: relative;
}
#schedule_game .game_area table td.result span:after {
	content: '';
	position: absolute;
	right: -30px;
	bottom: 0px;
	width: 16px;
	height: 20px;
}
td span.win:after {
	background: url(../img/schedule/pc_schedule_mark01.png) center right no-repeat;
}
td span.win2:after {
	background: url(../img/schedule/pc_schedule_mark04.png) center right no-repeat;
}
td span.draw:after {
	background: url(../img/schedule/pc_schedule_mark03.png) center right no-repeat;
}
td span.lose:after {
	background: url(../img/schedule/pc_schedule_mark02.png) center right no-repeat;
}
td span.loss2:after {
	background: url(../img/schedule/pc_schedule_mark05.png) center right no-repeat;
}

/* ground.html -------------------------- */
#ground .main_top {
	background: url(../img/ground/pc_ground_main.png) 0 0 no-repeat;
}
#ground .main_top img {
	width: 400px;
	margin-left: 5px;
	padding-top: 10px;
}
#ground .plase_area {
	background-color: #fff;
	margin: 0 10px 25px;
	padding: 10px;
}
#ground .plase_area .photo {
	float: left;
	width: 320px;
}
#ground .plase_area dl {
	float: right;
	width: 280px;
}
#ground .plase_area dl dt,
#ground .plase_area dl dd {
	float: left;
	padding-bottom: 5px;
}
#ground .plase_area dl dt {
	width: 70px;
}
#ground .plase_area dl dt.ls1 {
	letter-spacing: 1em;
}
#ground .plase_area dl dd {
	width: 210px;
}
#ground .map_area {
	position: relative;
}
#ground .map_area .btn {
	color: #f00;
	position: absolute;
	right: 25px;
	top: -55px;
}
#ground .map_area .btn .map_open {
	display: block;
}
#ground .map_area .btn .map_close {
	display: none;
}
#ground .map_area .btn.opened .map_open {
	display: none;
}
#ground .map_area .btn.opened .map_close {
	display: block;
}
#ground .map_area .btn:hover {
	color: #00f;
	opacity: 1.0;
	text-decoration: underline;
}
#ground .map_area .canvas {
	display: none;
	width: 630px;
	height: 300px;
	margin: 0 auto;
}
iframe {
	width: 630px;
	height: 300px;
}
/* contact.html -------------------------- */
#contact .main_top {
	background: url(../img/contact/pc_contact_main.png) 0 0 no-repeat;
}
#contact .main_top img {
	width: 531px;
	margin: 0 auto;
	padding-top: 100px;
}
#qa .sub_ttl {
	background-color: #fff;
	line-height: 1.8;
	margin: 0 10px 20px;
	padding: 15px;
}
#qa dl {
	margin: 0 10px 25px;
}
#qa dt,
#qa dd p {
	position: relative;
	min-height: 50px;
	padding: 18px 0 18px 65px;
}
#qa dt {
	background-color: #fff000;
	border-radius: 20px;
	margin-bottom: 15px;
}
#qa dt:before {
	content: "";
	background: url(../img/contact/pc_qmark.png) left center no-repeat;
	position: absolute;
	left: 10px;
	top: 7px;
	width: 40px;
	height: 41px;
}
#qa dd {
	display: none;
	margin: 0 0 20px 50px;
}
#qa dd p {
	background-color: #fff;
}
#qa dd p:before {
	content: "";
	background: url(../img/contact/pc_amark.png) left center no-repeat;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 41px;
	height: 36px;
}
#form_area .form_box {
	margin: 0 10px;
}
#form_area .form_box .txt_r {
	text-align: right;
}
#form_area .form_box .txt_r span {
	color: #f00;
}
#form_area .form_box form {
	background-color: #fff;
	border: 1px solid #555;
	display: block;
}
#form_area dl {
	border-bottom: 1px solid #000;
	display: table;
	width: 628px;
}
#form_area dt,
#form_area dd {
	display: table-cell;
}
#form_area dt {
	background-color: #ddd;
	border-right: 1px solid #000;
	padding: 20px;
	width: 200px;
	vertical-align: middle;
}
#form_area dt label:after {
	content: "※必須";
	color: #f00;
	font-size: 12px;
	position: relative;
	top: -2px;
	padding-left: 3px;
}
#form_area dd {
	color: #555;
	padding: 20px;
}
#form_area dd fieldset {
	margin-bottom: 5px;
}
#form_area dd fieldset label {
	display: block;
}
#form_area dd fieldset label input {
	margin: 0 5px 4px 0;
	width: auto;
}
#form_area dd textarea {
	resize: none;
}
#form_area dd textarea,
#form_area dd input {
	border: 1px solid #555;
	width: 370px;
	margin-left: 15px;
	padding: 5px;
}
#form_area dd input {
	color: #000;
	line-height: 30px;
	height: 30px;
}
#form_area dd .txt {
	padding: 10px 0 5px 15px;
}
#form_area dd textarea[name="comments"] {
	height: 180px;
}
#form_area .btn_bg {
	background-color: #ddd;
	padding: 15px 0;
}
#form_area .btn_inn {
	margin: 0 auto;
	width: 200px;
}
#form_area .btn_bg input[type="submit"] {
	background-color: #fff000;
	box-shadow: 0 2px 1px 0 #333;
	border-radius: 10px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	width: 200px;
	height: 50px;
}
#form_area .btn_bg input[type="submit"]:hover {
	cursor: pointer;
}
#form_area .btn_bg input[type="submit"]:active {
	position: relative;
	top: 2px;
	box-shadow: none;
	text-align: center;
}
#form_area input:focus,
#form_area textarea:focus {
	outline: none;
}

/* preparation.html -------------------------- */
#preparation .main_top {
	background: url(../img/pc_preparation_main.png) 0 0 no-repeat;
	height: 813px;
}
#preparation .main_top img {
	width: 620px;
	margin: 0 auto;
	padding-top: 200px;
}


/* SP_site ----------------------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
body {
	-webkit-text-size-adjust: 100%;
	font-size: 13px;
}
#contents {
	margin-top: 79px;
}

/* SP_site .main_top */
#home .main_top {
	background: url(../img/main/sp_main_visbg.jpg) center center no-repeat;
	background-size: cover;
	height: 357px;
}
.flexslider {
	background: none;
	border: none;
	margin: 0;
}
.flexslider .slides {
	margin: 0 auto;
	width: 320px;
}
.flex-direction-nav a {
	text-indent: -9999px;
}
.flex-direction-nav a:before {
	display: block;
	content: '';
	width: 40px;
	height: 40px;
}
.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1.0;
}
.flex-direction-nav a.flex-prev {
	background: url(../img/main/sp_prev02.png) center center no-repeat;
	background-size: contain;
}
.flex-direction-nav a.flex-next:before {
	content: '';
	background: url(../img/main/sp_next02.png) center center no-repeat;
	background-size: contain;
}
.flex-control-nav {
	bottom: 20px;
	z-index: 99;
}
.flex-control-paging li a {
	width: 14px;
	height: 14px;
	background: #fff000;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background: #7ac3e4;
}

/* SP_site .main */
#contents .main {
	width: 100%;
	float: none;
}
#contents .main h2.ttl span {
	font-size: 20px;
	margin-left: 3%;
}
.content_area {
	margin: 0 2%;
}
#tab_box ul.tab li {
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 #000;
	float: left;
	font-size: 16px;
	margin: 0 2% 11px 0;
	width: 32%;
}
#tab_box ul.tab li:active {
	box-shadow: none;
	margin: 1px 2% 10px 0;
}
#tab_box ul.tab li.tab03,
#tab_box ul.tab li.tab06 {
	margin: 0 0 11px 0;
}
#tab_box ul.tab li.tab03:active,
#tab_box ul.tab li.tab06:active {
	margin: 1px 0 10px 0;
}
#tab_box ul.tab li.select {
	padding-bottom: 0;
}
#tab_box ul.content dl {
	padding: 10px 2%;
}
#tab_box ul.content dd {
	line-height: 20px;
	font-size: 14px;
}
#tab_box ul.content dd p {
	padding-left: 3%;
}
#tab_box ul.content dd p.txt {
	width: 100%;
}
h3.ttl {
	font-size: 16px;
}
h3.ttl span.sub_txt {
	display: block;
	padding-left: 3%;
}
#result .result_area,
#rank .rank_area {
	margin: 0 2%;
	padding: 10px 3%;
}
#result .score_box {
	display: block;
	max-width: 320px;
	margin: 0 auto;
	padding: 20px 0 0;
}
#result .score_box p {
	display: block;
	font-size: 16px;
}
#result .score_box p span {
	text-align: left
}
#result .score_box p.home {
	display: block;
	font-size: 16px;
	padding-right: 60%;
}
#result .score_box p.score {
	text-align: center;
	font-size: 36px;
	padding: 10px 0;
}
#result .score_box p.away {
	padding-left: 60%;
}
.bx-wrapper {
	margin: 0 auto 50px;
}
.bx-controls.bx-has-pager {
	font-size: 12px;
}
#result .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:first-child a {
	width: 80px;
	height: 40px;
}
#result .bx-wrapper .bx-pager a {
	bottom: -50px;
}
#result .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a:after {
	background-color: #00a9d9;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 #000;
	color: #fff000;
	left: 0;
	height: auto;
	width: 80px;
	line-height: 40px;
	font-size: 12px;
}
#result .bx-wrapper .bx-controls-direction a {
	background-color: #00a9d9;
	box-shadow: 0 2px 2px 0 #000;
	color: #fff000;
	bottom: -45px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	width: 80px;
	height: 40px;
}
.bx-wrapper .bx-prev {
	border-radius: 35px 5px 5px 5px;
	left: 0;
}
.bx-wrapper .bx-next {
	border-radius: 5px 35px 5px 5px;
	right: 0;
}
#result .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a:hover:after,
#result .bx-wrapper .bx-controls-direction a:hover {
	color: #fff000;
	text-decoration: none;
}
#result .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a:active:after,
#result .bx-wrapper .bx-controls-direction a:active {
	margin: 2px 0 -2px;
	box-shadow: none;
}
#result .bx-wrapper .bx-prev:before,
#result .bx-wrapper .bx-prev:after,
#result .bx-wrapper .bx-next:after {
	content: "";
}
#rank table {
	font-size: 12px;
	margin: 0;
	width: 100%;
}
#rank table tr th, #rank table tr td {
	padding: 10px 2% 5px;
}

/* SP_site profile.html -------------------------- */
#summary .main_top {
	background: url(../img/summary/sp_summary_main.png) center center no-repeat;
	background-size: cover;
}
#summary .main_top img {
	width: 210px;
	margin: 0 auto;
	padding-top: 20px;
}
.main_top.bg_common {
	height: 400px;
}
.main .txt_box {
	margin: 10px 2%;
	padding: 10px 3% 0;
}
.main .txt_box .txt {
	padding-bottom: 10px;
	line-height: 1.5;
}
#summary .main dl {
	display: block;
	margin: 0 3%;
}
#summary .main dt,
#summary .main dd {
	display: block;
	text-align: center;
	padding-left: 0;
}
#summary .main dl.ttl_bg dt {
	background: url(../img/summary/sp_summary_bg.png) center bottom no-repeat;
	background-size: cover;
}
#summary .main dt {
	float: none;
	margin: 10px auto;
	width: 100%;
}
#summary .main dd {
	float: none;
	margin-top: 10px;
	width: 100%;
}

/* SP_site member.html -------------------------- */
#member .main_top {
	background: url(../img/member/sp_member_main.png) center center no-repeat;
	background-size: cover;
}
#member .main_top img {
	width: 260px;
	margin: 0 auto;
	padding-top: 160px;
}
#member .player_area li {
	margin: 0 3% 20px;
	width: 125px;
}
#member .player_area li:nth-child(4n) {
	margin: 0 3% 20px;
}
#member li .player_txt {
	color: #000;
	width: 125px;
}
#member li .player_txt .number {
	font-size: 28px;
	padding: 22px 5px 0 0;
}
#member li .player_txt .name {
	font-size: 16px;
}
.remodal-wrapper {
	padding: 4% 4% 0;
}
#member .remodal {
	width: 100%;
	max-width: 100%;
	padding: 20px 3%;
}
#member .remodal .player_photo {
	background: none;
	float: none;
	margin: 0;
	width: 100%;
	height: auto;
}
#member .remodal .player_photo img {
	position: relative;
	bottom: 0;
	right: 0;
	width: 250px;
	margin: 0 auto;
}
#member .remodal .player_profile {
	float: none;
	width: 250px;
	height: auto;
	margin: 10px auto;
	padding: 20px 3%;
}
#member .remodal .player_profile .number {
	float: none;
	font-size: 48px;
	width: 100%;
}
#member .remodal .player_profile .name {
	float: none;
	width: 100%;
	font-size: 36px;
}
#member .remodal .player_profile .name span {
	font-size: 14px;
}
#member .remodal .player_profile dl {
	font-size: 14px;
	padding: 0;
}
#member .remodal .player_profile dt {
	width: 85px;
}
#member .remodal .player_profile dd {
	margin-left: 85px;
}
#member .remodal .player_profile dd:before {
	margin-right: 5%;
}
#member .remodal a.remodal-cancel {
	background-color: #fff000;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 #000;
	color: #000;
	font-size: 18px;
	line-height: 30px;
	width: 150px;
	margin-top: 0;
}
#member .remodal a.remodal-cancel:active {
	box-shadow: none;
	margin: 2px auto -2px;
}

/* SP_site schedule.html -------------------------- */
#schedule .main_top {
	background: url(../img/schedule/sp_schedule_main.png) center bottom no-repeat;
	background-size: cover;
}
#schedule .main_top img {
	width: 150px;
	margin: 0 auto;
	padding-top: 100px;
}
#schedule_month .page_area {
	margin-bottom: 5px;
	padding: 0;
}
#schedule_month .page_area a {
	display: inline-block;
	width: 86px;
	height: 61px;
	text-indent: -9999px;
}
#schedule_month .page_area a.prev_month {
	background: url(../img/schedule/sp_schedule_prev.png) 0 0 no-repeat;
	background-size: contain;
	float: left;
}
#schedule_month .page_area a.new_month {
	background: url(../img/schedule/sp_schedule_new.png) 0 0 no-repeat;
	background-size: contain;
	width: 107px;
	margin: 0;
}
#schedule_month .page_area a.next_month {
	background: url(../img/schedule/sp_schedule_next.png) 0 0 no-repeat;
	background-size: contain;
	float: right;
}
#schedule_month .page_area a:active {
	width: 80px;
}
#schedule_month .page_area a.prev_month:active {
	background: url(../img/schedule/sp_schedule_prev_on.png) 0 0 no-repeat;
	background-size: contain;
	width: 80px;
	margin: 2px 3px -2px;
}
#schedule_month .page_area a.new_month:active {
	background: url(../img/schedule/sp_schedule_new_on.png) 0 0 no-repeat;
	background-size: contain;
	width: 100px;
	margin: 2px 3px -2px;
}
#schedule_month .page_area a.next_month:active {
	background: url(../img/schedule/sp_schedule_next_on.png) 0 0 no-repeat;
	background-size: contain;
	width: 80px;
	margin: 2px 3px -2px;
}
#schedule_month .month_area {
	font-size: 12px;
	margin: 0 3% 10px;
	padding: 10px 3%;
}
#schedule_month .month_area td.type_box {
	position: relative;
	width: 1px;
}
#schedule_month .month_area td.type_box span {
	border-radius: 5px;
	position: absolute;
	top: 1px;
	width: 80px;
}
#schedule_month .month_area td p span:first-child {
	margin-left: 85px;
}
#schedule_month .month_area td p span:nth-child(n+2) {
	display: block;
	padding: 10px 0 0;
}
#schedule_game .game_area {
	padding: 0 3%;
}
#schedule_game .game_area .sub_ttl span {
	padding: 5px 5%;
}
#schedule_game .game_area table {
	padding: 0;
}
#schedule_game .game_area table th {
	font-size: 11px;
	line-height: 1;
	padding: 5px 0;
	vertical-align: middle;
}
#schedule_game .game_area table td {
	font-size: 11px;
	line-height: 1.0;
	padding: 10px 0;
	vertical-align: middle;
}
span.rival:before {
	padding-right: 0;
}
#schedule_game .game_area table td.result span:after {
	right: -18px;
	bottom: 0;
	width: 13px;
	height: 13px;
}
#schedule_game .game_area table tr:last-child td {
	border: none;
}
td span.win:after {
	background: url(../img/schedule/sp_schedule_mark01.png) center right no-repeat;
	background-size: contain;
}
td span.win2:after {
	background: url(../img/schedule/sp_schedule_mark04.png) center right no-repeat;
	background-size: contain;
}
td span.draw:after {
	background: url(../img/schedule/sp_schedule_mark03.png) center right no-repeat;
	background-size: contain;
}
td span.lose:after {
	background: url(../img/schedule/sp_schedule_mark02.png) center right no-repeat;
	background-size: contain;
}
td span.loss2:after {
	background: url(../img/schedule/sp_schedule_main.png) center right no-repeat;
	background-size: contain;
}

/* SP_site ground.html -------------------------- */
#ground .main_top {
	background: url(../img/ground/sp_ground_main.png) center bottom no-repeat;
	background-size: cover;
}
#ground .main_top img {
	width: 230px;
	margin: 0 auto;
	padding-top: 100px;
}
#ground .plase_area {
	margin: 0 auto;
	padding: 10px 2%;
	width: 280px;
}
#ground .plase_area .photo {
	float: none;
	width: 100%;
	margin-bottom: 10px;
}
#ground .plase_area dl {
	float: none;
	width: 100%;
	padding: 10px 3%;
}
#ground .plase_area dl dt,
#ground .plase_area dl dd {
	padding-bottom: 3px;
}
#ground .plase_area dl dt {
	width: 25%;
}
#ground .plase_area dl dd {
	width: 75%;
}
#ground .main .btn_area {
	background-color: #fff;
	width: 280px;
	margin: 0 auto;
	padding-bottom: 10px;
}
#ground .main .btn a {
	background: url(../img/ground/sp_ground_btn.png) center bottom no-repeat;
	background-size: contain;
	text-indent: -9999px;
	width: 126px;
	height: 46px;
	margin: -2px auto 0;
}
#ground .main .btn a:active {
	background: url(../img/ground/sp_ground_btn_on.png) center bottom no-repeat;
	background-size: contain;
	width: 120px;
	height: 42px;
	margin: 0 auto 2px;
}
#ground .main .btn a:active img{
	background: url(../img/ground/sp_ground_btn_on.png) center bottom no-repeat;
	background-size: contain;
	margin: 0 auto;
}
@media screen and (min-width: 640px) {
	#ground .plase_area {
		width: 96%;
	}
	#ground .plase_area .photo {
		float: left;
		max-width: 290px;
		margin-bottom: 0;
	}
	#ground .plase_area dl {
		float: right;
		width: 45%;
		padding: 0;
	}
	#ground .main .btn_area {
		width: 96%;
		padding: 10px 0;
	}
}

/* SP_site contact.html -------------------------- */
#contact .main_top {
	background: url(../img/contact/sp_contact_main.png) center bottom no-repeat;
	background-size: cover;
}
#contact .main_top img {
	width: 250px;
	margin: 0 auto;
	padding-top: 100px;
}
#qa .sub_ttl {
	line-height: 1.5;
	margin: 0 3% 20px;
	padding: 10px 4%;
}
#qa dl {
	margin: 0 3% 15px;
}
#qa dt,
#qa dd p {
	min-height: 30px;
	padding: 13px 2% 13px 15%;
}
#qa dt {
	background-color: #fff000;
	border-radius: 15px 15px 0 0;
	margin-bottom: 5px;
	cursor: pointer;
}
#qa dt:before {
	content: "";
	background: url(../img/contact/sp_qmark.png) left center no-repeat;
	background-size: contain;
	left: 3%;
	width: 30px;
	height: 30px;
}
#qa dd {
	margin: 0 0 10px;
}
#qa dd p {
	border-radius: 0 0 15px 15px;
}
#qa dd p:before {
	content: "";
	background: url(../img/contact/sp_amark.png) left center no-repeat;
	background-size: contain;
	left: 3%;
	top: 7px;
	width: 30px;
	height: 30px;
}
#form_area .form_box {
	margin: 0 3%;
}
#form_area dl {
	display: block;
	width: 100%;
}
#form_area dt,
#form_area dd {
	display: block;
}
#form_area dt {
	border-right: none;
	padding: 10px 5%;
	width: 100%;
}
#form_area dt label:after {
	font-size: 11px;
	top: -2px;
	padding-left: 3px;
}
#form_area dd {
	padding: 10px 3%;
}
#form_area dd fieldset label {
	text-indent: -1.3em;
	padding-left: 1.3em;
}
#form_area dd fieldset label input {
	margin: 0 1% 3px 0;
}
#form_area dd textarea,
#form_area dd input {
	width: 100%;
	margin-left: 0;
	padding: 2px 1%;
}
#form_area dd .txt {
	padding: 10px 0 5px 1%;
}
#form_area dd textarea[name="comments"] {
	height: 100px;
}
#form_area .btn_bg input[type="submit"] {
	font-size: 16px;
}

/* SP_site preparation.html -------------------------- */
#preparation .main_top {
	background: url(../img/sp_preparation_main.png) center bottom no-repeat;
	background-size: cover;
	height: 400px;
}
#preparation .main_top img {
	width: 210px;
	margin: 0 auto;
	padding-top: 100px;
}

}/* end of max-width: 767px */